always-auth = true

registry=https://registry.npmjs.com/
unsafe-perm = true

//registry.npmjs.org/:always-auth=false
//registry.yarnpkg.com/:always-auth=false
@adobe:registry=https://registry.npmjs.com/
