name: npm-publish
on:
  push:
    branches:
      - "main" # Change this if not your default branch
    paths:
      - 'package.json'
      - '.github/workflows/npm-publish.yml'
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'
      - name: install
        run: yarn install
      - run: (cd demo-react/app; yarn install)
      - run: (cd demo-react/iframe; yarn install)
      - run: yarn run test -- --headless
      - run: yarn run build
      - uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.ADOBE_BOT_NPM_TOKEN }}
          access: 'public'
